<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav class="be-blue white large-padding">

		<ul class="no-list row center-xs middle-xs">
		<li class="col-md">
			<h1 class="no-margin" id="logo" id="color-lt-men">Blog</h1>
		</li>
		<li class="col-md" >
			<%= link_to "Inicio", root_path %>
		</li>
		<li class="col-md" >
			<%= link_to "Administrativo", posts_path %>
		</li>
		<li class="col-md" >
			<%= link_to "Reporte", reports_path %>
		</li>
			
		</ul>
	</nav>
</header>

<%= yield %>

</body>
<footer>
	<nav class="be-blue white large-padding">
		<ul class="no-list row center-xs middle-xs">
		<li class="col-md">
			<small>&copy; BlogJson.com</small>
		</li>
			
		</ul>
	</nav>
</footer>
</html>
